Description: <%= @purchase.description %> <br />
Amount: $<%= @purchase.amount %> <br />
Date Purchased: <%=DateTime.parse(@purchase.date_purchased.to_s).to_date.strftime("%d/%m/%Y")%>
<% if @purchase.user.id == current_user.id %>
<div id="edit-button">
  <form method="get" action="/purchases/<%=@purchase.id%>/edit">
    <input type="submit" id="Edit Purchase" value="Edit Purchase" />
  </form>
</div>

<div id="delete-button">
  <form method="post" action="/purchases/<%=@purchase.id%>/delete">
    <input type="hidden" id="hidden" name="_method" value="delete" />
    <input type="submit" id="Delete Purchase" value="Delete Purchase" />
  </form>
</div>
<% end %>
